<extend name="common:layout"/>
<block name="content">
	<div class="container-fluid">
		<div class="row-fluid">
		  <div class="span12">
		    <div class="widget-box">
		      <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
		        <h5>用户列表</h5>
		      </div>
		      <div class="widget-content nopadding">
		        <table class="table table-bordered table-striped">
		          <thead>
		            <tr>
		              <th>ID</th>
		              <th>用户名</th>
		              <th>所属用户组</th>
		              <th>创建时间</th>
		              <th>操作</th>
		            </tr>
		          </thead>
		          <tbody>
		          	<?php foreach ($list as $v):?>
			            <tr class="odd gradeX">
			              <td>{$v.id}</td>
			              <td>{$v.name}</td>
			              <td>{$v.group}</td>
			              <td class="center">{$v.createtime}</td>
			              <td class="center">
			              	<a href="#">编辑</a>
			              	<a href="#">删除</a>
			              </td>
			            </tr>
		        	<?php endforeach; ?>
		          </tbody>
		        </table>
		      </div>
		    </div>
		    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
		    	<a class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled">First</a>
		    	<a class="previous fg-button ui-button ui-state-default ui-state-disabled">Previous</a>
		    	<span>
		    		<a class="fg-button ui-button ui-state-default ui-state-disabled">1</a>
		    		<a class="fg-button ui-button ui-state-default">2</a>
		    		<a class="fg-button ui-button ui-state-default">3</a>
		    		<a class="fg-button ui-button ui-state-default">4</a>
		    		<a class="fg-button ui-button ui-state-default">5</a>
		    	</span>
		    	<a class="next fg-button ui-button ui-state-default">Next</a>
		    	<a class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default">Last</a></div>
		  </div>
		</div>
	</div>
</block>
<block name="footer">
	<script src="__PUBLIC__/matrix/js/jquery.min.js"></script> 
	<script src="__PUBLIC__/matrix/js/jquery.ui.custom.js"></script> 
	<script src="__PUBLIC__/matrix/js/bootstrap.min.js"></script> 
	<script src="__PUBLIC__/matrix/js/matrix.js"></script> 
</block>