<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-home"></i>首页</a>
  <ul>

    <li class="active submenu">
      <a href="#">
        <i class="icon icon-home"></i>
        <span>首页</span>
      </a>
      <ul>
        <li><a href="__MODULE__">网站状态</a></li>
      </ul>
    </li>

    <li class="submenu">
      <a href="#">
        <i class="icon icon-cog"></i>
        <span>网站设置</span>
      </a>
      <ul>
        <li><a href="__MODULE__/Setting">网站设置</a></li>
        <li><a href="">系统设置</a></li>
      </ul>
    </li>

    <li class="submenu">
      <a href="#">
        <i class="icon icon-group"></i>
        <span>用户管理</span>
      </a>
      <ul>
        <li><a href="__MODULE__/Manager">管理员列表</a></li>
        <li><a href="#">管理员组列表</a></li>
        <li><a href="#">权限节点列表</a></li>
      </ul>
    </li>

    <li class="submenu">
      <a href="#">
        <i class="icon icon-inbox"></i>
        <span>模块管理</span>
      </a>
      <ul>
        <li><a href="__MODULE__/Module">模块列表</a></li>
      </ul>
    </li>

    <li class="submenu">
      <a href="#">
        <i class="icon icon-th-list"></i>
        <span>内容管理</span>
      </a>
      <ul>
        <li><a href="__MODULE__/Content">栏目管理</a></li>
        <li><a href="#">内容管理</a></li>
      </ul>
    </li>

  </ul>
</div>